// Fonts colors
$text-color-white: #FFF;
$text-color-light-blue: #C0EEF2;
$text-color-primary: #181823;
$text-color-gray: #9292A0;

// Colors
$color-gray-8: #E7E6F6;
$color-gray-9: #F1F0FF;
$color-red: #C20114;
$color-white: #FFF;

// Gradient colors
$gradient-color-first: #000000;
$gradient-color-second: #1D1823;
$gradient-color-third: #537FE7;