<footer class="footer">
    <div class="footer__logo">
        <img src="../../assets/logo.svg" alt="logo">
    </div>
    <div class="footer__social-media-mobile">
        <p class="footer__social-media-mobile__title">Follow us</p>
        <div class="footer__social-media-mobile__icons">
            <a href="#"><img class="footer__social-media-icon" src="../../assets/social_media_twitter_icon.svg"
                    alt="twitter"></a>
            <a href="#"><img class="footer__social-media-icon" src="../../assets/social_media_facebook_icon.svg"
                    alt="facebook"></a>
            <a href="#"><img class="footer__social-media-icon" src="../../assets/social_media_youtube_icon.svg"
                    alt="youtube"></a>
        </div>
    </div>
    <div class="footer__right">
        <div class="footer__links">
            <div>
                <p class="footer__links-title">Destinations</p>
                <nav>
                    <ul>
                        <li><a href="#">Madrid</a></li>
                        <li><a href="#">Barcelona</a></li>
                        <li><a href="#">London</a></li>
                        <li><a href="#">Paris</a></li>
                        <li><a href="#">Rome</a></li>
                    </ul>
                </nav>
            </div>
            <div>
                <p class="footer__links-title">Legal information</p>
                <nav>
                    <ul>
                        <li><a href="#">Privacy policy</a></li>
                        <li><a href="#">Cookie policies</a></li>
                        <li><a href="#">data treatment</a></li>
                    </ul>
                </nav>
            </div>
            <div>
                <p class="footer__links-title">Book your flight</p>
                <nav>
                    <ul>
                        <li><a href="#">Search flights</a></li>
                        <li><a href="#">Price calendar</a></li>
                        <li><a href="#">Destination map</a></li>
                        <li><a href="#">Flight times</a></li>
                    </ul>
                </nav>
                <p class="footer__links-follow-us">Follow us</p>
            </div>
        </div>
        <div class="footer__social-media">
            <a href="#"><img class="footer__social-media-icon" src="../../assets/social_media_twitter_icon.svg"
                    alt="twitter"></a>
            <a href="#"><img class="footer__social-media-icon" src="../../assets/social_media_facebook_icon.svg"
                    alt="facebook"></a>
            <a href="#"><img class="footer__social-media-icon" src="../../assets/social_media_youtube_icon.svg"
                    alt="youtube"></a>
        </div>
    </div>
</footer>