@import '../../assets/scss/init/colors.scss';

// Menu component
.main-menu {
    width: 100%;
    height: auto;
    padding: 0 96px;
}

.main-menu__content {
    display: flex;
    padding: 15px 0 16px;
    align-items: center;
    width: 100%;
    height: inherit;
    margin: auto;
}

.main-menu__logo {
    margin-right: 32px;

    img {
        height: 49px;
    }
}

.main-menu__navbar {
    display: flex;
    justify-content: space-between;
    margin-left: 32px;
    width: 100%;
}

.main-menu__items {
    display: flex;
}

.main-menu__items__list {
    list-style-type: none;
}

.main-menu__items__list-item,
.main-menu__items__list-item--mmb {
    display: inline;
}

.main-menu__items__list-item--mmb {
    padding: 0 28px;
}

.main-menu__items__list-link {
    text-decoration: none;
    color: $text-color-primary;
    font-size: 1rem;
    font-weight: 400;
    line-height: 18.75px;
}

.main-menu__lang-selector {
    display: flex;
    align-items: center;
}

.main-menu__lang-selector__icon {
    margin-right: 5px;
}

.main-menu__lang-selector__text {
    font-size: 0.875rem;
}

.main-menu__hamburger-menu {
    display: none;
}

// Tooltip
.main-menu__tooltip {
    position: relative;
    display: inline-block;
}

.main-menu__tooltip .main-menu__tooltip-text {
    visibility: hidden;
    width: 250px;
    height: 189px;
    background-color: $color-white;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.2);
    color: $text-color-primary;
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    border-radius: 6px;
    padding: 28px 30.12px;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: -30%;
    margin-left: -60px;

    ul {
        list-style-type: none;
        line-height: 2rem;

        a {
            text-decoration: none;
        }
    }

}

.main-menu__tooltip .main-menu__tooltip-text::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent white transparent;
}

.main-menu__tooltip:hover .main-menu__tooltip-text {
    visibility: visible;
}

// Hamburger menu
#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked~.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked~.menu__btn>span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked~.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    visibility: visible;
    left: 0;
}

.menu__btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 30px;
    cursor: pointer;
    z-index: 2;
}

.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    list-style: none;
    background-color: $color-white;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition-duration: .25s;
    z-index: 1;
}

.menu__box__list {
    padding: 0 14px;

    ul {
        list-style-type: none;

        li:last-child {
            a {
                border-bottom: none;
            }
        }
    }
}

.menu__item {
    display: block;
    padding: 25px 0;
    color: $text-color-primary;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 23.44px;
    text-decoration: none;
    transition-duration: .25s;
    border-bottom: 1px solid #B2B2C1;
}

.menu__item:hover {
    background-color: #CFD8DC;
}

// Media Queries
@media (max-width:992px) {
    .main-menu__items__list-item--mmb {
        padding: 0 28px;
    }

    .main-menu__items__list-link {
        font-size: 0.75rem;
    }

    .main-menu__lang-selector__text {
        font-size: 0.625rem;
    }
}

@media (max-width:768px) {
    .main-menu {
        padding: 0 14px;
    }

    .main-menu__box-content {
        display: flex;
        padding: 10.33px 14px 0 35%;
        justify-content: space-between;
        margin-bottom: 45.41px;
    }

    .main-menu__hamburger-menu {
        display: block;
    }

    .main-menu__items {
        display: none;
    }

    .main-menu__content {
        justify-content: space-between;
    }

    .main-menu__navbar {
        width: auto;
    }

    .main-menu__logo {
        margin-right: 0;
    }

    .main-menu__lang-selector__text {
        display: none;
    }

    .main-menu__lang-selector__icon {
        margin-right: 0;
    }
}

@media (max-width:480px) {
    .main-menu__content {
        width: 100%;
    }

    .main-menu__lang-selector__icon {
        width: 15px;
        height: 15px;
    }

    .main-menu__content {
        padding: 9px 0 8px;
    }

    .main-menu__logo {
        img {
            width: 103px;
            height: 33px;
        }
    }

    .menu__btn {
        top: 13px;
    }
}

@media (max-width:414px) {}