// Fonts colors
$text-color-black: #181823;

// Menu component
.main-menu {
    width: 100%;
    height: auto;
    padding: 0 96px;
}

.main-menu__content {
    display: flex;
    padding: 15px 0 16px;
    align-items: center;
    width: 100%;
    height: inherit;
    margin: auto;
}

.main-menu__logo {
    margin-right: 32px;

    img {
        height: 49px;
    }
}

.main-menu__navbar {
    display: flex;
    justify-content: space-between;
    margin-left: 32px;
    width: 100%;
}

.main-menu__items {
    display: flex;
}

.main-menu__items__list {
    list-style-type: none;
}

.main-menu__items__list-item,
.main-menu__items__list-item--mmb {
    display: inline;
}

.main-menu__items__list-item--mmb {
    padding: 0 28px;
}

.main-menu__items__list-link {
    text-decoration: none;
    color: $text-color-black;
    font-size: 1rem;
    font-weight: 400;
    line-height: 18.75px;
}

.main-menu__lang-selector {
    display: flex;
    align-items: center;
}

.main-menu__lang-selector__icon {
    margin-right: 5px;
}

.main-menu__lang-selector__text {
    font-size: 0.875rem;
}

.main-menu__hamburger-menu {
    display: none;
}

// Media Queries
@media (max-width:767px) {
    .main-menu {
        padding: 0 14px;
    }

    .main-menu__hamburger-menu {
        display: block;
    }

    .main-menu__items {
        display: none;
    }

    .main-menu__content {
        justify-content: space-between;
    }

    .main-menu__navbar {
        width: auto;
    }

    .main-menu__logo {
        margin-right: 0;
    }

    .main-menu__lang-selector__text {
        display: none;
    }

    .main-menu__lang-selector__icon {
        margin-right: 0;
    }
}

@media (max-width:480px) {
    .main-menu__content {
        width: 100%;
    }
}

@media (max-width:414px) {
    .main-menu__content {
        padding: 9px 0 8px;
    }

    .main-menu__logo {
        img {
            width: 103px;
            height: 33px;
        }
    }
}