<section class="main-menu">
    <div class="main-menu__content">
        <div class="main-menu__hamburger-menu">
            <!-- <img src="../../assets/menu_icon.svg" alt=""> -->
            <input id="menu__toggle" type="checkbox" />
            <label class="menu__btn" for="menu__toggle">
                <img src="../../assets/menu_icon.svg" alt="">
            </label>
            <div class="menu__box">
                <div class="main-menu__box-content">
                    <div class="main-menu__logo">
                        <img src="../../assets/logo.svg" alt="airline-logo">
                    </div>
                    <div class="main-menu__lang-selector">
                        <img class="main-menu__lang-selector__icon" src="../../assets/language_icon.svg"
                            alt="language-icon">
                        <span class="main-menu__lang-selector__text">English</span>
                    </div>
                </div>
                <div class="menu__box__list">
                    <ul>
                        <li><a class="menu__item" href="#">Check-in</a></li>
                        <li><a class="menu__item" href="#">Manage my booking</a></li>
                        <li><a class="menu__item" href="#">Information</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="main-menu__logo">
            <img src="../../assets/logo.svg" alt="airline-logo">
        </div>
        <div class="main-menu__navbar">
            <div class="main-menu__items">
                <ul class="main-menu__items__list">
                    <li class="main-menu__items__list-item"><a class="main-menu__items__list-link" href="#">Check-in</a>
                    </li>
                    <li class="main-menu__items__list-item--mmb"><a class="main-menu__items__list-link" href="#">Manage
                            my booking</a></li>
                    <li class="main-menu__items__list-item main-menu__tooltip"><a class="main-menu__items__list-link"
                            href="#">Information</a>
                        <span class="main-menu__tooltip-text">
                            <ul>
                                <li><a href="#">Help center</a></li>
                                <li><a href="#">Flight state</a></li>
                                <li><a href="#">Airplanes</a></li>
                                <li><a href="#">Routes</a></li>
                            </ul>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="main-menu__lang-selector">
                <img class="main-menu__lang-selector__icon" src="../../assets/language_icon.svg" alt="language-icon">
                <span class="main-menu__lang-selector__text">English</span>
            </div>
        </div>
    </div>
</section>