$color-gray: #F1F0FF;
$text-color-gray: #9292A0;

.sub-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 48px;
    background-color: $color-gray;
    padding: 16px 98px;
    font-size: 0.875rem;

    li {
        display: inline;
        list-style: none;
        margin-right: 10px;
        color: $text-color-gray;
    }

    a {
        text-decoration: none;
        color: $text-color-gray;
    }
}

@media (max-width:767px) {
    ul {
        margin: auto;
    }
}

@media (max-width:673px) {
    .sub-footer{
        padding: 16px 20px;
    }
}