<section class="body-content">
    <div class="body-content__content">
        <div class="body-content__content-title">
            <p>Offers</p>
        </div>
        <div class="body-content__content-offers">
            <div class="body-content__content-offers-1">
                <div class="body-content__content-offers-intersect">
                    <div class="body-content__content-offers-description">
                        <div class="body-content__content-offers-city">
                            <p>Chicago</p>
                        </div>
                        <div class="body-content__content-offers-price">
                            <span class="body-content__content-offers-price--label">From</span>
                            <span class="body-content__content-offers-price--fee"> $600.</span>
                            <span class="body-content__content-offers-price--cents">00</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="body-content__content-offers-2">
                <div class="body-content__content-offers-intersect">
                    <div class="body-content__content-offers-description">
                        <div class="body-content__content-offers-city">
                            <p>Porto</p>
                        </div>
                        <div class="body-content__content-offers-price">
                            <span class="body-content__content-offers-price--label">From</span>
                            <span class="body-content__content-offers-price--fee"> $600.</span>
                            <span class="body-content__content-offers-price--cents">00</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="body-content__content-offers-3">
                <div class="body-content__content-offers-intersect">
                    <div class="body-content__content-offers-description">
                        <div class="body-content__content-offers-city">
                            <p>Chicago</p>
                        </div>
                        <div class="body-content__content-offers-price">
                            <span class="body-content__content-offers-price--label">From</span>
                            <span class="body-content__content-offers-price--fee"> $600.</span>
                            <span class="body-content__content-offers-price--cents">00</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="body-content__content-banner">
            <div class="body-content__content-banner-image">
                <img src="../../assets/our-destinations-banner.jpg" alt="our-destinations-banner">
            </div>
            <div class="body-content__content-banner-text">
                <div class="body-content__content-banner-text--title">
                    <p>Our destinations</p>
                </div>
                <div class="body-content__content-banner-text--subtitle">
                    <p>Discover the world</p>
                </div>
                <div class="body-content__content-banner-text--description">
                    <p>Embark on an unforgettable adventure! Discover and enjoy our fascinating destinations. We are
                        waiting for you to explore the world together!</p>
                </div>
            </div>
        </div>
    </div>
</section>