// Fonts colors
$text-color-white: #fff;
$text-color-light-blue: #C0EEF2;
$text-color-primary: #181823;

// Gradient colors
$first-gradient-color: #000000;
$second-gradient-color: #1D1823;
$third-gradient-color: #537FE7;

// Body-content component
.body-content {
    width: 100%;
    padding: 36px 6.667% 60px 6.667%;
}

.body-content__content {
    width: 100%;
}

.body-content__content-title {
    margin-bottom: 20px;
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 32.81px;
    color: $text-color-primary;
}

.body-content__content-offers {
    margin-bottom: 33.41px;
    display: flex;
    align-items: stretch;
    width: 100%;
    height: 258px;
}

.body-content__content-offers-1,
.body-content__content-offers-2,
.body-content__content-offers-3 {
    overflow: hidden;
    border-radius: 16px;
}

.body-content__content-offers-1 {
    position: relative;
    width: 24.5856%;

    img.body-content__content-offers__background {
        position: relative;
        width: 100%;
        min-width: 420px;
        min-height: 258px;
        left: -17px;
    }
}

.body-content__content-offers-2 {
    position: relative;
    width: 50.828%;
    margin: 0 20px;

    img.body-content__content-offers__background {
        position: relative;
        width: 100%;
        min-width: 614px;
        min-height: 457px;
        top: -99px;
    }
}

.body-content__content-offers-3 {
    position: relative;
    width: 24.5856%;

    img.body-content__content-offers__background {
        position: relative;
        width: 100%;
        min-width: 442px;
        min-height: 258px;
        left: -72px;
    }
}

.body-content__content-offers-intersect {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    img{
        position: relative;
        width: 100%;
        height: 100%;
    }
}

.body-content__content-offers-description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0 17px 23px 0;
}

.body-content__content-offers-city,
.body-content__content-offers-price {
    color: $text-color-white;
    font-weight: 700;
}

.body-content__content-offers-city {
    font-size: 1.75rem;
    margin-bottom: 9px;
    line-height: 32.81px;
}

.body-content__content-offers-price--label {
    font-size: 1.25rem;
    line-height: 23.44px;
}

.body-content__content-offers-price--fee {
    font-size: 1.375rem;
    line-height: 25.78px;
}

.body-content__content-offers-price--cents {
    font-size: 1rem;
    line-height: 18.75px;
}

.body-content__content-banner {
    overflow: hidden;
    position: relative;
    border-radius: 16px;
    display: flex;
    background-image: linear-gradient(to right, $first-gradient-color, $second-gradient-color, $third-gradient-color);
    width: 100%;
    background-color: $second-gradient-color;
}

.body-content__content-banner-image {
    overflow: hidden;
    position: absolute;
    top: -188.41px;
    left: -319px;
    width: 768px;
    height: 768px;
    border-radius: 100%;

    img {
        position: relative;
        top: -319px;
        left: -120px;
    }
}

.body-content__content-banner-text {
    padding: 99.05px 193.16px 100.22px 528.65px;
}

.body-content__content-banner-text--title,
.body-content__content-banner-text--description {
    color: $text-color-white;
}

.body-content__content-banner-text--description {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 21.09px;
}

.body-content__content-banner-text--title {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 46.88px;
}

.body-content__content-banner-text--subtitle {
    color: $text-color-light-blue;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 46.88px;
    margin-bottom: 30.45px;
}

// Media Queries
@media (min-width:1200px) {
    .body-content {
        width: 100%;
        padding: 36px 6.667% 60px 6.667%;
    }
}

@media (max-width:1200px) {
    .body-content__content-banner-image {
        top: -170px;
        background-position: 95% 55%;
    }

    .body-content__content-banner-text {
        padding: 99.05px 140px 100.22px 528.65px;
    }
}

@media (max-width:992px) {

    .body-content__content-offers-1,
    .body-content__content-offers-2,
    .body-content__content-offers-3 {
        width: 33%;
    }

    .body-content__content-banner-image {
        top: -100px;
    }
}

@media (max-width:899px) {
    .body-content__content-banner {
        background-image: linear-gradient($first-gradient-color, $second-gradient-color, $third-gradient-color);
    }

    .body-content__content-banner-image {
        top: -400px;
        left: auto;
    }

    .body-content__content-banner-text {
        padding: 429px 16px 102px 16px;
    }
}

@media (max-width:768px) {
    .body-content {
        padding: 36px 14px;
    }

    .body-content__content-banner-image {
        left: -15px;
    }
}

@media (max-width:640px) {
    .body-content__content-offers {
        flex-direction: column;
        height: auto;
    }

    .body-content__content-offers-1,
    .body-content__content-offers-2,
    .body-content__content-offers-3 {
        width: 100%;
        max-width: 614px;
        min-height: 258px;
    }

    .body-content__content-offers-1,
    .body-content__content-offers-3 {
        margin-bottom: 20px;
    }

    .body-content__content-offers-2 {
        margin: 0 0 20px;
    }

    .body-content__content-offers-intersect {
        min-height: 258px;
    }

    .body-content__content-offers-description {
        min-height: 258px;
    }

    .body-content__content-banner-image {
        top: -400px;
        left: -80px;
        background-size: inherit;
        background-position: center;
    }
}

@media (max-width:480px) {
    .body-content__content-banner-image {
        top: -400px;
        left: -160px;
        background-size: inherit;
        background-position: 75% 55%;
    }
}

@media (max-width:414px) {
    .body-content {
        padding: 36px 14px 64px;
    }

    .body-content__content-offers {
        margin-bottom: 36px;
    }

    .body-content__content-offers-3 {
        margin-bottom: 0;
    }

    .body-content__content-banner {
        max-height: 722px;
    }

    .body-content__content-banner-text--title {
        font-size: 2.125rem;
        line-height: 39.84px;
    }

    .body-content__content-banner-text--subtitle {
        font-size: 2.125rem;
        line-height: 39.84px;
        margin-bottom: 24px;
    }

    .body-content__content-banner-image {
        top: -403px;
        left: -191px;
        background-position: 100% 55%;
    }
}