// Fonts colors
$text-color-white: #fff;
$text-color-light-blue: #C0EEF2;
$text-color-primary: #181823;

// Gradient colors
$first-gradient-color: #000000;
$second-gradient-color: #1D1823;
$third-gradient-color: #537FE7;

// Body-content component
.body-content {
    width: 100%;
    padding: 36px 96px 60px 97px;
}

.body-content__content {
    width: 100%;
}

.body-content__content-title {
    margin-bottom: 20px;
    font-size: 1.75rem;
    font-weight: 700;
    color: $text-color-primary;
}

.body-content__content-offers {
    margin-bottom: 33.41px;
    display: flex;
    align-items: stretch;
    width: 100%;
    height: 258px;
}

.body-content__content-offers-1 {
    overflow: hidden;
    position: relative;
    width: 25%;
    background-image: url("../../assets/chicago.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
}

.body-content__content-offers-2 {
    overflow: hidden;
    width: 50%;
    background-image: url("../../assets/porto.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 20px;
    border-radius: 16px;
}

.body-content__content-offers-3 {
    overflow: hidden;
    width: 25%;
    background-image: url("../../assets/mire.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
}

.body-content__content-offers-intersect {
    width: 100%;
    height: 100%;
    background-image: url("../../assets/intersect.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

.body-content__content-offers-description {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.body-content__content-offers-city,
.body-content__content-offers-price {
    color: $text-color-white;
    margin-right: 17px;
    margin-bottom: 23px;
    font-weight: 700;
}

.body-content__content-offers-city {
    font-size: 1.75rem;
}

.body-content__content-offers-price--from{
    font-size: 1.25rem;
}

.body-content__content-offers-price--600{
    font-size: 1.375rem;
}

.body-content__content-offers-price--00{
    font-size: 1rem;
}

.body-content__content-banner {
    overflow: hidden;
    position: relative;
    border-radius: 16px;
    display: flex;
    background-image: linear-gradient(to right, $first-gradient-color, $second-gradient-color, $third-gradient-color);
    width: 100%;
    height: auto;
    background-color: $second-gradient-color;
}

.body-content__content-banner-image {
    position: absolute;
    top: -188.41px;
    left: -319px;
    width: 768px;
    height: 767.86px;
    border-radius: 100%;
    background-image: url("../../assets/our-destinations-banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.body-content__content-banner-text {
    padding: 99px 193px 100px 490px;
}

.body-content__content-banner-text--title,
.body-content__content-banner-text--description {
    color: $text-color-white;
}

.body-content__content-banner-text--subtitle {
    color: $text-color-light-blue;
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 30px;
}

.body-content__content-banner-text--title {
    font-size: 2rem;
    font-weight: 700;
}

// Media Queries
@media (max-width:991px) {
    .body-content__content-offers-1 {
        width: 33%;
    }

    .body-content__content-offers-2 {
        width: 33%;
    }

    .body-content__content-offers-3 {
        width: 33%;
    }
}

@media (max-width:899px) {
    .body-content__content-banner {
        background-image: linear-gradient($first-gradient-color, $second-gradient-color, $third-gradient-color);
    }

    .body-content__content-banner-image {
        top: -400px;
        left: -35px;
    }

    .body-content__content-banner-text {
        padding: 429px 16px 102px 16px;
    }
}

@media (max-width:767px) {
    .body-content {
        padding: 0 14px;
    }
}

@media (max-width:639px) {
    .body-content__content-offers {
        flex-direction: column;
        height: auto;
    }

    .body-content__content-offers-1 {
        width: 100%;
        min-height: 258px;
        margin-bottom: 20px;
    }

    .body-content__content-offers-2 {
        width: 100%;
        min-height: 258px;
        margin: 0 0 20px;
    }

    .body-content__content-offers-3 {
        width: 100%;
        min-height: 258px;
        margin-bottom: 20px;
    }

    .body-content__content-offers-intersect {
        min-height: 258px;
    }

    .body-content__content-offers-description {
        min-height: 258px;
    }

    .body-content__content-banner-image {
        top: -400px;
        left: -80px;
        background-size: inherit;
        background-position: center;
    }
}

@media (max-width:479px) {
    .body-content__content-banner-image {
        top: -400px;
        left: -160px;
        background-size: inherit;
        background-position: 75% 55%;
    }
}